body {
  margin: 0;
  background-color: rgb(255, 230, 194);
}

h1 {
  font-family: sans-serif;
  color: grey;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: brown;
}

p { 
  font-size: 16px;
  color: black;
}
